<nav class="navbar navbar-expand-lg bg-body-info bg-info p-5">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-2" routerLink="login">MYAPP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <!-- <li class="nav-item">
          <a class="nav-link active  btn btn-warning btn-sm m-2" routerLink="home">Home</a>
        </li> -->
        <li class="nav-item" *ngIf="shouldShowLogin()">
          <a class="nav-link btn btn-secondary btn-sm active m-2" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="shouldShowLogin()">
          <a class="nav-link btn btn-success btn-sm active m-2" routerLink="register">Signup</a>
        </li>
        <li class="nav-item" *ngIf="router.url === '/home'">
          <a class=" nav-link btn btn-danger btn-sm active m-2" (click)="onLogout()">Logout</a>
        </li>

    
      </ul>
      <form class="d-flex" role="search" *ngIf="shouldShowLogin()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>